*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     background: #f1f5f9;
     line-height: 1.5;
     font-family: "Roboto", sans-serif;
}
#imageGrid{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.title{
   margin-top: 4rem;
   margin-bottom: 2rem;    
}
.title h1{
      text-transform: uppercase;
      letter-spacing: 3px;
      color: rgb(10, 125, 233);
}
.btn-container{
     display: flex;
     gap: 10px;
     margin-bottom: 2rem;
}
.btn-container > *{
     padding: 0.25rem 0.75rem;
     font-size: 1.5rem;
     border-color: transparent;
}
.grid{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 0 10px;
}

.grid-item img{
     width: 100%;
     margin-top: 10px;
}
.active{
     background-color: #000;
     color: #fff;
}



